<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDTracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RDTracker.My.MySettings>
            <setting name="PlayerX" serializeAs="String">
                <value>414352</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Multi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapXY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iSprite" serializeAs="String">
                <value>669168</value>
            </setting>
            <setting name="OffsetXY" serializeAs="String">
                <value>196, 51</value>
            </setting>
            <setting name="flagsOffset" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="fSprite2Offset" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="exe" serializeAs="String">
                <value>moac | new | Knights of Astonia | Astonia_remastered</value>
            </setting>
            <setting name="className" serializeAs="String">
                <value>MAINWNDMOAC | 䅍义乗䵄䅏C | MAINWNDASTONIA</value>
            </setting>
            <setting name="background" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="sysBeepOnGT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="main" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="alts" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="walls" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="gastrap" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="trapdoor" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="junk" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="shrineoutline" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="text" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="textwarning" serializeAs="String">
                <value>Red</value>
            </setting>
        </RDTracker.My.MySettings>
    </userSettings>
</configuration>